*{
  scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    /* background-image: url('bg.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header {
    background-color: #6675FA;
    color: #fff;
    height: 80px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: 0.3s linear;
  }
  
  nav ul li a:hover {
    color: #f0f0f0;
    
  }
  
  .main-content {
    text-align: center;
    margin-top: 50px;
  }
  
  .main-content > h1{
    font-weight: 700;
    font-size: 3rem;
  }
 
img{
  width: auto;
  height: 600px;
}
  .right_img{
    height: 800;
  }
  p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #6675FA;
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    
  }
  
  .ResumeUpload{
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
  }
  .cta-button:hover {
    background-color: #c0392b;
    
  }
  

  .part1{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #featured{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    
  }
.container{
  background-color: #6675FA;
}
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  }
  
  .feature {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
    text-align: center;
  }
  .features{
    max-width: 1200px;
  }
  .feature h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #6675FA;
  }
  .btns{
    display: flex;
    gap: 20px;
    
  }
  .feature p {
    color: #6675FA ;
    font-size: 18px;
    line-height: 1.4;
  }
  
  footer {
    background-color: #6675FA;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 18px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #e74c3c;
  }
  
  .logo img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  

  .Resume {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }

.uploadText{
  color: rgb(124, 118, 118);
  border: 2px black solid;
  border-radius: 15px;
  width: 80%;
  font-weight: 100;
  font-size: 1.2rem;
  margin: 12px;
  padding: 0px 12px ;
}

.R-features{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 1200px;
  
}


.dark-mode body{
  background-color: #333;
}

.dark-mode header {
  background-color: #1a1a1a; 
  color: #e0e0e0; 
}


.dark-mode .Navbar {
  background-color: #1a1a1a; 
}

.dark-mode .nav-links li a {
  color: #e0e0e0;
}

.dark-mode .button {
  background-color: #333;
  color: #fff; 
}


.dark-mode footer {
  background-color: #222; 
  color: #ccc; 
}


.dark-mode .social-icons a {
  color: #ccc;
}


.dark-mode .part1 {
  background-color: #333; 
}

.dark-mode .main-content h1 {
  color: #fff; 
}


.dark-mode .container {
  background-color: #1a1a1a; 
  color: #e0e0e0; 
}

.dark-mode .features .feature h2 {
  color: #333; 
}

.dark-mode .features .feature p {
  color: #a5a5a5; 
}


.dark-mode .Resume {
  background-color: #333; 
  color: #fff; 
}
.dark-mode .ResumeUpload h2{
  color: #fff;
}
.dark-mode .R-features .uploadText h3 {
  color: #ccc; 
}

.dark-mode .uploadBtn a {
  color: #fff; 
}

.dark-mode .accordian{
  background-color: #333;
  color: #fff;
  
}
.dark-mode .active,
.accordian:hover {
background-color: #fff;
color: white;
}
.dark-mode .Wrapper {
  background-color: #333;
  color: #fff;
}

.dark-mode .faq {
  background-color: #333;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Adjust border color if needed */
}

.dark-mode .faq .panel {
  background-color: #555; /* Adjust panel background color if needed */
}

.dark-mode .faq .panel p {
  color: #fff; /* Adjust panel text color if needed */
}

@media screen and (max-width: 780px) {
  body {
    width: max-content;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 
  .Navbar {
    padding: 10px;
   width: fit-content;
  
  }
  .part1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  nav ul li a {
    font-size: 24px; 
  }
  header{
    flex-direction: row;
    justify-content: center;
  }
  header h1 {
    font-size: 24px; 
  }

  .main-content {
    margin-top: 40px;
  }

  .main-content > h1 {
    font-size: 2rem; 
  }

  .features {
    margin-top: 40px; 
  }

  .feature {
    width: 100%; 
    margin: 20px 0; 
  }

  .feature h2 {
    font-size: 24px; 
  }

  .feature p {
    font-size: 16px; 
  }

  footer p {
    font-size: 16px; 
  }

  .logo img {
    width: 200px; 
  }
  .Resume {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .R-features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .uploadText {
    width: 100%; 
  }
}
.Wrapper{
  max-width: 75%;
  margin: auto;
}

.Wrapper > p,
.Wrapper > h1{
  margin: 1.5rem 0;
   text-align: start;
}

.Wrapper > h1{
  letter-spacing: 2px;
}

.accordian{
background-color: white;
color: #222;
cursor: pointer;
font-size: 1.2rem;
width: 100%;
padding: 2rem 2.5rem;
border: none;
outline: none;
transition: 0.4s;
display: flex;
justify-content: space-between;
align-items: center;
font-weight: normal;
}

.accordian i{
  font-size: 1.6rem;
}
.active,
.accordian:hover {
background-color: #6675FA;
color: white;
}

.panel{
  display: none;
  padding: 0 2rem 2.5rem 2rem;
  background-color: #6675FA;
  overflow: hidden;
  background-color:#6675FA;
}
.panel p{
  color:white;
  font-size: 1.2rem;
  line-height: 1.4;
}
.faq{
  border: 1px solid rgba(0,0,0,.2);
  margin: 15px 0;
  border-radius: 20px;
}

.faq .active{
  border: none;
}

.conclude{
  font-size: 1rem;

}

